.timestamp {
  height: 300px;
  width: 40%;
  border: 1px solid #ccc;
  margin: 0 auto;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ccc;
}
